<div class="jumbotron " style= "padding : 20px; background - color : grey; ">
<p style="font-size: 25px; padding-left : 10px; padding-top : 10px;display : inline; color: white"
class="row">
<b>
<span style="margin: right 0; display : inline"
&#x1F341;
</span>
babyieits
</b>
</p>
<p style"font- size :x-large; display : inline; margin-left: 450px; color: white; ">{{mainCounter)} :
{{seconds}} </p>
</div>
<div class="card offset-md-1 col-md-10">
<div class="card2'" style="margin : 20px 0px 0px 0px">
<div style= "background - color : grey; text-align : center; color: white"> Instructions</div>
</div>
<div class="offset -md - 1 " id="heading"> The passage below is... Choose the best answer
to each question. . . .</div>
<div class="row'">
<div class="col-md- 11" style="font - family:Arial, Helvetica, sans - serif margin: 19px 0px
10px 20px"> Put your passage here</div>
</div>
<div class= "card2 " style="margin : 0px 0px 0px 0px">
<p id="myP" class="col -md -12" style= "text-align : center">
!---<div style="background -color: grey; text-align : center; color : white">Question 1 of 9</div>
--->
<div style="background - color: grey; text-align: center; color: white; font-family : 'Times New
Roman', Times, serif; ">
Question {{currentQuestion+1}} of {{question List . length}}
</div>
{{question List[currentQuestion]?.questionText}}
</div>
<ol *ngFor="let option of questionList [currentQuestion]?.options; let i=index; ">
<li class="option" (click) = "answer (question List[currentQuestion],
questionList[currentQuestion].options, option)"
[ngClass]=""option.isSelected ? "border-green text-success font-weight -bold': "">
<div class="row">
<div class= "circle "style="font - size : medium; margin : 0% 2% 0% 0%"
[ngClass]="option.isSelected? 'bg-success text-light':' ' ''>{{i+1}}
</div>
<div class="row col-md-11">
{{option. text} }
</div>
